.commodity-box{
  width: 200px;
  border: 1px solid gray;
  margin-left: 20px;
  margin-bottom: 20px;
  float: left;
  img{
    height: 200px;
    width: 200px;
  }
  h1{
    margin:0;
  }
  .commodity-describe{
    margin: 10px;
  }
  .commodity-add{
    font-size: 30px;
    float: right;
    cursor: pointer;
  }
}
