.order {
  margin: 20px;
  background-color: white;
  padding: 20px;
}
.table {
  border-collapse: collapse;
  margin: 0 auto;
  text-align: center;
  width: 90%;
  background-color: white;
  padding: 10px;
  td,th{
    border: 1px solid #f2f4f5;
    height: 30px;
  }
  button{
    color: red;
  }
  th{
    background-color: #f2f4f5;
  }
}
